@page
@model IndexModel
@{
    ViewData["Title"] = "Mermaid Controller";
}

<h3>Welcome!</h3>

<p>WiFi: TheSaltyMermaid / TheLooseGoose5521 <br/>
    Please only use the 5Ghz network if you need to access the server.</p>

<p>Your IP: @(Request?.HttpContext.Connection.RemoteIpAddress.MapToIPv4().ToString() ?? "unknown")</p>